<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Update Password</title>
</head>
<body>
	<p th:if="${errorMessage != null}" th:utext="${errorMessage}" style="color: red;"></p>
	<form th:action="@{/forgot-password}" method="post">
		<input type=text name="email" placeholder="Email"><br>
		<input type="text" name="newPassword" placeholder="New Password"><br>
		<input type="text" name="passwordConfirmation" placeholder="Repeat your new password"><br>
		<button type="submit">Update password</button>
	</form>
</body>
</html>